* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none;
}
body {
  background-color: #e6e6e6;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.video-container {
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}

.fullscreen-button {
  position: absolute;
  top: 2%;
  left: 90%;
  z-index: 10;
}

.watermark {
  position: absolute;
  pointer-events: none;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0.4; /* Adjust opacity for less attention */
  z-index: 1000;
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  font-size: 20px; /* Adjust font size */
  text-align: center; /* Center text horizontally */
  line-height: 1.5; /* Adjust line height for vertical centering */
  top: 0px; /* Initial position off-screen */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  animation: moving-watermark 25s infinite linear;
}

@keyframes moving-watermark {
  0% {
    top: 0px;
  }
  100% {
    top: calc(100vh + 100px); /* Moves the watermark to bottom */
  }
}

